/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body.noScroll {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.mainContainer{
    height: 100%;
}

.header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.flag{
    position: relative;
    height: 266px;
    width: 400px;
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.flag h1{
    position: absolute;
    width: 100%;
    bottom: -1px;
    padding: 2em 1em;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.95) 100%);
    font-weight: bold;
}

.flag h1 div{
    font-weight: 200;
}

.infoSlider{
    transform: translatex(100%);
    opacity: 0.5;
    animation: slideIn 0.3s ease-in-out 0s forwards;
}

.infoSlider.open{
    animation: slideIn 0.3s ease-in-out 0s forwards;
}

.infoCover{
    animation: fadeIn 0.3s ease-in-out 0s forwards;
}

/* Toggle  */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}


/* Animation */
@keyframes slideIn {
    from{
        transform: translatex(100%);
        opacity: 0.5;
    }
    to{
        transform: translatex(0%);
        opacity: 1;
    }
    
}
@keyframes fadeIn {
    from{
        
        opacity: 0;
    }
    to{

        opacity: 0.7;
    }
    
}